<mat-toolbar color="primary">
    <header>
        <h1>{{ title }}</h1>
        <app-clock></app-clock>
    </header>
</mat-toolbar>
<main class="fill-horizontal fill" id="poker-main">
    <app-blinds [blinds]="game.blinds"></app-blinds>
    <div class="fill-vertical fill">
        <app-countdown-timer
            class="fill-vertical fill"
            [countdownTimer]="game.countdown"
            (onReset)="game.blinds.increment()"
        ></app-countdown-timer>
    </div>
    <aside class="fill-vertical">
        <app-pot class="fill-vertical" [pot]="game.pot"></app-pot>
        <app-player
            class="fill-vertical fill"
            [buyIns]="game.pot.buyIns"
            [players]="game.players"
            (addPlayer)="game.addPlayer( $event )"
            (addBuyIn)="game.pot.addBuyIn( $event )"
            (removeBuyIn)="game.pot.removeBuyIn( $event )"
        ></app-player>
    </aside>
</main>
